parameters:
	ignoreErrors:
		-
			message: '#^Method Orisai\\StreamWrapperContracts\\Tests\\Stubs\\StreamCallMonitor\:\:stream_tell\(\) should return int\<0, max\> but returns int\.$#'
			identifier: return.type
			count: 1
			path: ../tests/Stubs/StreamCallMonitor.php
